VITE_SUPABASE_URL=https://tsbwpahmojdesgpwjuwz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRzYndwYWhtb2pkZXNncHdqdXd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzIxODk2NjAsImV4cCI6MjA0Nzc2NTY2MH0.2Mw6TtgE6fwMZ-4a3XyjJXznQV-9jrLBvE7KUbL1WCQ